.navbar {
  background-color: #222222;
  padding: 1rem;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 1rem;
}

.navbar a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffffff;
}
